* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: #580EF6;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
    list-style: none;
}