* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5%;
    background-color: #580EF6;
}

header nav {
    display: flex;
}